{% extends 'advent/layout.html' %}

{% block title %}О программе{% endblock %}

{% block content %}
    <div class="features">
        <h1>Поиск транспорта</h1>
        <p><button class="alert alert-warning"><a href="https://www.aviasales.ru/">Авиабилеты</a></button></p>
        <p><button class="alert alert-warning"><a href="https://travel.yandex.ru/trains/">Поезда</a></button></p>
        <p><button class="alert alert-warning"><a href="https://busfor.ru/">Автобусы</a></button></p>
    </div>
{% endblock %}